.login {
    margin: 20px;
}

.login .knock-code-grid {
    width: 200px;
    height: 200px;
}

.knock-code-grid td:hover {
    background-color: #eee;
}

.knock-code-grid td:active {
    background-color: #ccc;
}