
.security-images .security-image {
    display: inline-block;
    width: 85px;
    height: 50px;
    margin: 10px;
    background-size: 1445px 100px;
    background-image: url('/static/images/security-images.jpg');
}
